.cart{
    background-color: aqua;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    border-radius: 10px;
    border: 2px solid black;
    object-fit: cover;
}